### Subdirectories
creds/
venv/
logs/
.terraform/
*terraform.tfstate.backup
*ian_run_local*
local_config.json


### File types
*.pyc*
*ipynb*
*prefect__test_wf*
*.env
service_accounts/*.json
*DS_Store*
out
*lock.info*
infrastructure/local.json