# Relative path to your GCP service account JSON creds
GCP_CREDS=""

# Not necessary in our Pandas implementation, don't worry about this
DEV_BUCKET=""

# This API key should connect you to Prefect Cloud
PREFECT_API_KEY=""

# The current implementation uses "nyk" by default ... to 
# update this modify the TEAM_CONFIG object in src/config.py
TEAM_ABBREVIATION=""